body {
    font-family: "Helvetica Neue", sans-serif;
}

.wrapper {
    position: center;
    width: 450px;
    margin: auto;
    background-color: rgba(249,229,217,0.25);
    padding: 50px;
    border: 2px double black ;
}

.row {
    padding: 5px;
    position: center;
}

.buttons{
    padding: 10px;

}

#chat {
    margin: 2%;
    padding: 8%;
    height: 200px;
    overflow-y: scroll;
}

#chat li {
    list-style-type: none;
    padding-top: 3px;
}

button {
    font-size: 20px;
}

input {
    margin: 10px;
    font-size: 20px;
    color: navy;
    background-color: rgba(242,242,242,0.68) ;
    border: 1px solid #BDBDBD;
    border-radius: 5px ;
    padding : 5px 5px 5px 30px;
    background-repeat : no-repeat ;
    background-position : 8px 9px ;
    display : block;
    margin-bottom: 10px ;
}
.submit{
    font-size: 16px;
    margin-top: 10px;
    color: navy;
}
.submit:hover{
    color: #241aaa;
    border-color: currentColor;
    background-color: white;
}

input:focus {
    background-color: #FFFFFF;
    border : 1px solid; }
